a:link {
    color: #323449;
    background-color: transparent;
    text-decoration: none;
  }
  
a:visited {
    color: #323449;
    background-color: transparent;
    text-decoration: none;
  }
  
a:hover {
    color: #777CAD;
    background-color: transparent;
    text-decoration: underline;
  }
  
a:active {
    color: #DDAE5C;
    background-color: transparent;
    text-decoration: underline;
  }

#linkButton {
  background-color: #DDAE5C;
}

#linkButton:hover {
  background-color: transparent;
}

ul {
  display: inline-block;
  text-align: left;
}